[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=grayscalepatch
X-Python-2-Compatible=false
X-Krita-Manual=myPluginManual.html
Name=grayscalepatch
Comment=plugin_**